PORT=7000
MONGO_URI=mongodb+srv://taditiya870_db_user:J42AOT73WZiDbvRt@web-chat-cluster.rsijnxl.mongodb.net
JWT_SECRET_KEY=c7d62f6fe6cda5eaf4e5c3e325921a395294898accb6aac4b595810d8ffd21dc
FRONTEND_URL=http://localhost:5173
